html
   head
      title Shane Kent - Prague
      link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
      link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn")
      //Background image is courtesy of https://www.emaze.com/@ACTLZTWW/Prague,-Czech
      //This page was made from scratch by Shane Kent on August 25, 2016.
   body
      #mainContainer
         #mainTitle Shane Kent in Prague
         #mainTagLine My life while abroad, exploring what Europe has to offer
         hr#mainBreak

         each post in postList
            #postArea
               span#postTitle= post.title
               span#postDate= post.date
               span#postText= post.text

               each photo in post.photos
                  hr#break
                  a(href=photo.split(', ')[0].slice(1))
                     img#postPicture(src=photo.split(', ')[0].slice(1))
                  p#postCaption= photo.split(', ')[1].slice(0,-1)

               each video in post.videos
                  hr#break
                  video#postVideo(controls)
                     source(src= "/videos/" + video.split(', ')[0].slice(1))
                  p#postCaption= video.split(', ')[1].slice(0,-1)

   footer
      include ../partials/googleAnalytics.pug
